@model ReceitaViewModel
@{
    ViewData["Title"] = "Cadastrar";
}

<div class="container mt-5">
    <div class="row">
        @using (Html.BeginForm("Create", "Receita", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(p => p.Titulo)
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-heading"></i></span>
                        @Html.TextBoxFor(p => p.Titulo, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Descricao)
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-highlighter"></i></span>
                        @Html.TextAreaFor(p => p.Descricao, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Ingredientes)
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
                        @Html.TextAreaFor(p => p.Ingredientes, new { @class = "form-control", rows = "10" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.ModoDePreparo)
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
                        @Html.TextAreaFor(p => p.ModoDePreparo, new { @class = "form-control", rows = "10" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Tag)
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
                        @Html.TextBoxFor(p => p.Tag, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.FotoUpload)
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
                        <input asp-for="FotoUpload" type="file" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.IdCategoria)
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
                        <select asp-for="IdCategoria" asp-items="ViewBag.Categorias" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.IdUsuario)
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
                        <select asp-for="IdUsuario" asp-items="ViewBag.Usuarios" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

